
pyrogram
TgCrypto
Flask 
yt-dlp
youtube-search-python
youtube-search
pyrogram==2.0.1
yt-dlp==2024.01.1
youtube-search==1.5.4
youtubesearchpython==1.9.4
requests==2.26.0
wget==3.2
aiohttp==3.8.1
aiofiles==0.8.0
python-dotenv==0.21.1
